*{
    margin: 0;
    padding: 0;
}
.head{
    background-color:rgba(228, 28, 28, 0.86);
    height: 100px;
    display: flex;
    padding-top: 10px;
    padding-left: 190px;
}
.bu{
    margin-top:-15px;
}
p{
    font-family: cursive;
    font-size: 18px;
}
.bu2{
    text-decoration: none;
    color:#eaeaea;
    padding-left: -100px;
    font-family: sans-serif;
    font-size: 50px;
}
.right-head{
    padding-left: 300px;
    font-family: sans-serif;
    padding-top: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.rt{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none; 
}.rt:hover{
    color: aqua;}

.rt1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none; 
    padding-left: 35px;
}
.rt1:hover{
    color: aqua;}
.rt2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none; 
    padding-left: 35px;
}
.rt2:hover{
    color: aqua;
}
.rt3{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none; 
    padding-left: 35px;
}.rt3:hover{
    color: aqua;
}